@model Appointment_system_MVC.Models.Clinic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Clinic Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_name)
        </dd>
        <dt class = "col-sm-2">
            Clinic Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_address)
        </dd>
        <dt class = "col-sm-2">
            Clinic Phone
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic_phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
