@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online Appointment</h1>
    <img src="~/img/newhome.jpg" width="900" height="800" />
    <p>Health is the greatest gift, contentment the greatest wealth, faithfulness the best relationship.</p>
</div>
