@model Appointment_system_MVC.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClinicId" class="control-label">Clinic</label>
                <select asp-for="ClinicId" class ="form-control" asp-items="ViewBag.ClinicId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Doctor_DetailID" class="control-label">Doctor Detail</label>
                <select asp-for="Doctor_DetailID" class ="form-control" asp-items="ViewBag.Doctor_DetailID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Patient_DetailID" class="control-label">Patient Detail</label>
                <select asp-for="Patient_DetailID" class ="form-control" asp-items="ViewBag.Patient_DetailID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment_date_time" class="control-label">Appointment Dtae Time</label>
                <input asp-for="Appointment_date_time" class="form-control" />
                <span asp-validation-for="Appointment_date_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
